.contact_form{
    margin-top: 30px;
}
.contact_wrap{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}
.input__fields{
    display: block;
}
.contact__info_input,.msg_input{
    width: 100%;
    padding: 10px;
    background-color: inherit;
    outline: none;
    border: 1px solid var(--color-border);
    color: var(--color-light);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: var(--size-sm);
    color: var(--color-slate400);
    border-radius: 5px;
}
.contact__info_input:focus,.msg_input:focus{
    border: 1px solid rgba(0, 70, 0, 0.63);
    transition: 0.5s ease;
  
}
.contact__label{
    text-align: end;
    margin-bottom: 10px;
    font-size: var(--size-sm);
    color: var(--color-slate400);
}
.btn_wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.contact__content-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.contact_info-wrap{
    padding: 10px;
}
.contact__title{
    font-size: var(--size-2xl);
    color: var(--color-light);
}
.contact__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);
}
.contact__subtitle{
    font-size: var(--size-sm);
    color: var(--color-slate400);
}
.social{
    color: var(--color-rose);
    
}
.contact__social{
    margin-top: 10px;
}
.contact__social a:not(fa-facebook){
    display: inline-block;
    margin-left: 10px;
}
.contact__form-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact__social a i{
   color: var(--color-slate600);
   transition: 0.5s ease all;
}

.contact__social a i:hover{
    color: var(--color-rose);
 }
/* xs*/
@media (max-width: 475px){
    .contact_wrap{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .contact_info-wrap{
        text-align: center;
    }

    .contact{
        gap: 1.5rem;
    }
    .contact__subtitle{
        font-size: var(--size-sm);
        text-align: center;
    }
    .contact__title{

        font-size: var(--size-xl);
        text-align: center;
    }
    .contact__description{
        font-size: var(--size-xs);
        text-align: center;
    }
    .contact__btn{
        font-size: var(--size-base);
    }
}
@media (min-width: 475px){
    .contact_info-wrap{
        text-align: center;
    }

    .contact{
        gap: 1.5rem;
    }
    .contact__subtitle{
        font-size: var(--size-lg);
        text-align: center;
    }
    .contact__title{

        font-size: var(--size-3xl);
        text-align: center;
    }
    .contact__description{
        font-size: var(--size-base);
        text-align: center;
    }
    .contact__btn{
        font-size: var(--size-base);
    }
}
.contact__social{
    text-align: center;
}
/* sm*/
@media (min-width: 640px){
    .contact__subtitle{
        font-size: var(--size-2xl);
    }

    .contact__title{
        font-size: var(--size-4xl);
    }
}
/* md*/
/* @media (min-width: 768px){
 
}
/* lg*/
 @media (min-width: 1024px){
    .contact__social{
        text-align: left;
    }
    .contact{
        gap: 1.5rem;
    }
    .contact_wrap{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contact__subtitle{
        font-size: var(--size-2xl);
        text-align: left;
    }
    .contact__title{
        font-size: var(--size-2xl);
        text-align: left;
    }
    .contact__description{
        font-size: var(--size-lg);
        text-align: left;
    }
    .contact__btn{
        font-size: var(--size-lg);
    }
 
}
/* xl*/
 @media (min-width: 1280px){
    .contact{
        gap: 2rem;
    }
    .contact__subtitle{
        font-size: var(--size-xl);
    }
    .contact__title{
        font-size: var(--size-4xl);
    }
    .contact__description{
        font-size: var(--size-sm);
    }
    .contact__btn{
        font-size: var(--size-xl);
    }
}
/* 2xl*/
/* @media (min-width: 1536px){
  
}